name: Translate New and Modified Posts

on:
  push:
    paths:
      - 'site/content/es/posts/**'
  #workflow_dispatch:

jobs:
  translate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r aphra/requirements.txt

    - name: Create config.toml
      run: |
        echo '[openrouter]' > aphra/config.toml
        echo 'api_key = "${{ secrets.API_KEY_OPENROUTER }}"' >> aphra/config.toml
        echo '' >> aphra/config.toml
        echo '[llms]' >> aphra/config.toml
        echo 'writer = "anthropic/claude-3.7-sonnet"' >> aphra/config.toml
        echo 'searcher = "perplexity/sonar:online"' >> aphra/config.toml
        echo 'critiquer = "anthropic/claude-3.7-sonnet"' >> aphra/config.toml

    - name: Identify new or modified posts
      id: changes
      run: |
        git diff --name-only --diff-filter=AMR HEAD^ HEAD | tr -d '"' | grep "^site/content/es/posts/" | grep "index.md$" | perl -pe 's/\\([0-3][0-7]{2})/chr(oct($1))/ge' > modified_files.txt || true
        if [ -s modified_files.txt ]; then echo "changes_detected=true" >> $GITHUB_OUTPUT; else echo "changes_detected=false" >> $GITHUB_OUTPUT; fi

    - name: Translate posts
      if: steps.changes.outputs.changes_detected == 'true'
      run: |
        while IFS= read -r file; do
          # Extract the folder name (post name)
          folder=$(dirname "$file")
          folder_name=$(basename "$folder")
          post_name=$(basename "$folder_name")

          # Create the target directory if it doesn't exist
          mkdir -p "site/content/en/posts/$post_name"

          # Copy the files from the source directory to the target directory
          cp "$folder"/* "site/content/en/posts/$post_name/"

          # Translate the index.md file
          python aphra_runner.py aphra/config.toml Spanish English "$folder/index.md" "site/content/en/posts/$folder_name/index.md"
        done < modified_files.txt

    - name: Commit changes
      if: steps.changes.outputs.changes_detected == 'true'
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add site/content/en/posts/
        git commit -m "Translated new/modified posts using Aphra"
        git push
